body {
	margin:0;
	padding:0;
}
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:300px;
}

.about {
	text-align: center;
	padding-bottom: 50px;
}
.about-header {
	padding-top: 50px;
	text-align: center;
}

body {
	background-color: rgb(41,45,47);
}
.blurb {
	text-align: center;
	color: white;
}
.contact {
	color: white !important;
}
.foot {
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h3 {
	letter-spacing: 3px;
}
li {
	text-align: center;
}
.location {
	background-color: rgb(206,206,206);
	height: 300px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.location-header {
	color: white;
}
.location-row {
	background-color: rgb(206,206,206);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
	background: transparent;
	border-color: transparent;
}
.navbar-default.transparent {
	background-color: transparent;
}
/*.navbar li {
	color: #000
}*/
.navbar-default .navbar-nav>li>a {
  color: white !important;
}
.partners {
	text-align: center;
	background-color: white;
	margin-left: -20;
}
.partners-content {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: white;
}
.partners>ul>li {
margin-right: 30px
}
.partners-header{
	padding-top: 50px;
	background-color: white;
}
#main-slides {
  opacity: .4;
}
.main {
	margin-top: -400px;
	text-align: center;
}
#coitcom-logo {
	text-align: center;
	margin: 0 auto;
	display: block;
	zoom: .4;
	-moz-transform: scale(.4); /* Firefox */
	/*-moz-transform-origin: 0 0;*/
}
#solutions {
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
}

.services-header {
	/*color: rgb(0,186,242);*/
	color: white;
	padding-top: 150px;
	padding-bottom: 50px;
}
/*.services-scroll {
	color: rgb(0,186,242);
	padding-bottom: 50px;
}*/
.tagline {
	text-align: center;
	color: white;
	font-size: 20px;
}

.rooms {
	/*display: inline-block;*/
	text-align: center;
	margin-bottom:
}

.rooms-p {
	color: white;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 35px;
}

#room-options {
	color: orange;
	margin-left: 5px;
	margin-top: -30px;
	font-style: underline;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
ul {
	text-align: center;
  list-style-type: none;
}
@media (max-width: 1000px) {
	#coitcom-logo {
		zoom: .2;
		-moz-transform: scale(.2); /* Firefox */
		/*-moz-transform-origin: 0 0;*/
	}
	b, strong {
		color: white;
	}
	#services {
		margin-top: 300px;
	}
	#small-device-fix {
		padding: 500px;
	}
	.tagline {
		font-size: 14px;
	}
	.main {
		margin-top: -200px;
	}
}