body {
	margin:0;
	padding:0;
}
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:300px;
}
@media (max-width: 1000px) {
	.partners-header {
		margin-top: 300px;
	}
}
.about {
	text-align: center;
}
.about-header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.about-closing {
	padding-bottom: 50px;
}
body {
	background-color: rgb(41,45,47);
}
.blurb {
	text-align: center;
	color: white;

}
.foot {
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h3 {
	letter-spacing: 3px;
}
li {
	text-align: center;
}
.location {
	background-color: rgb(232,232,232);
	height: 300px;
	text-align: center;
	padding: 50px;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-default.transparent {
    background-color: transparent;
}
.partners {
	text-align: center;
	background-color: white;
}
.partners-content {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: white;
}
.partners-header{
	padding-top: 50px;
	background-color: white;
}
.slide1, .slide2, .slide3 {
    min-height: 700px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url(public/DSC_2294.JPG);
    opacity: .4;
}
.slide2 {
    background-image: url(public/DSC_2283.JPG);
    opacity: .4;
}
.slide3 {
    background-image: url(public/DSC_2233.JPG);
    opacity: .4;
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}
.coitcom-logo {
	text-align: center;
	top: -500px;
	zoom: .4;
	-moz-transform: scale(.4); /* Firefox */
	/*-moz-transform-origin: 0 0;*/
}
.tagline {
	color: white;
}
ul {
	text-align: center;
  list-style-type: none;
}